* {
  margin: 0;
  font-family: helvetica;
  box-sizing: border-box;
}

body {
  background: url('http://www.welcomebrand.co.uk/static/shakespeare/assets/img/shakespere.jpg') repeat;
  background-size: 100px 111px;
}

.container {
  background-color: white;
  border-radius: 3px;
  border: 1px solid lavender;
  padding: 1em;
  height: 90%;
  width: 90%;
  margin: 5%;
  position: absolute;
}

h1 {
  text-align: center;
}
