body {
  background-color:#778899;
}

.wrapper {
  /*width:100%;*/
  /*height:100%;*/
  max-width:600px;
  margin:0 auto;
}

.container {
  width:100%;
  margin-top:20px;
  margin-right:40px;
  border:1px solid black;
  display:flex;
  flex-flow:row wrap;
}

.row-one {
  order:1;
  height:400px;
  width:100%;
  border:1px solid black;
  display:flex;
}

.row-two {
  order:2;
  height:100px;
  width:100%;
  border:1px solid black;
  display:flex;
}

.space-col {
  width:20%;
  height:100%;
  border:1px solid black;
}

.ship-col {
  width:20%;
  height:100%;
  border:1px solid black;
}

#rock {
  width:85px;
  height:78px;
  background:url(images/alien.png);
  margin:20px auto;
}

#ship {
  width:60px;
  height:30px;
  background-color:black;
  position:absolute;
}

#laser {
  width:3px;
  height:30px;
  background-color:black;
  position:absolute;
}

#laser[data-column='1'] {
  top:460px;
  right:478px;
}

#laser[data-column='2'] {
  top:460px;
  right:598px;
}

#laser[data-column='3'] {
  top:460px;
  right:718px;
}

#laser[data-column='4'] {
  top:460px;
  right:838px;
}

#laser[data-column='5'] {
  top:460px;
  right:958px;
}

#laser[data-column='6'] {
  opacity:0.5;
}

#ship[data-column='1'] {
  top:480px;
  right:450px;
}

#ship[data-column='2'] {
  top:480px;
  right:570px;
}

#ship[data-column='3'] {
  top:480px;
  right:690px;
}

#ship[data-column='4'] {
  top:480px;
  right:810px;
}

#ship[data-column='5'] {
  top:480px;
  right:930px;
}

#rock[data-column='1'] {
}

#rock[data-column='2'] {
}

#rock[data-column='3'] {
}

#rock[data-column='4'] {
}

#rock[data-column='5'] {
}

#rock[data-column='6'] {
  opacity:0;
}

.stats-box {
  width:600px;
  height:150px;
  border:1px solid black;
  margin-top:40px;
}

.start-game {
  width:120px;
  height:120px;
  border-radius:200px;
  border:1px solid black;
  margin-top:10px;
  margin-bottom:10px;
  margin-right:20px;
  font-size:30px;
  display:flex;
  align-items:center;
  justify-content:center;
  float:right;
}

.timer {
  width:150px;
  height:60px;
  border:1px solid black;
  font-size:30px;
  display:flex;
  align-items:center;
  margin-right:70px;
  justify-content:center;
  float:right;
  margin-top:40px;
}

.instruction {
  width:150px;
  height:120px;
  border:1px solid black;
  font-size:16px;
  margin-right:70px;
  margin-top:10px;
  float:right;
  line-height:20px;
}

span {
  font-weight:bold;
}

/*.player {
  width:100%;
  height:60px;
  border:1px solid black;
  margin-bottom:10px;
  font-size:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.turn {
  width:100%;
  height:60px;
  border:1px solid black;
  margin-bottom:10px;
  font-size:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.score {
  width:100%;
  height:60px;
  border:1px solid black;
  margin-bottom:10px;
  font-size:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}*/
