body {
  background:url(images/space_invader_wall.png);
  background-size:120%;
  background-color:light grey;
  font-family:'Press Start 2P', cursive;
}

.wrapper {
  /*width:100%;*/
  /*height:100%;*/
  max-width:600px;
  margin:0 auto;
}

.container {
  width:100%;
  margin-top:20px;
  margin-right:40px;
  /*border:1px solid black;*/
  background:url(images/space.gif);
  background-color:#FFF;
  display:flex;
  flex-flow:row wrap;
}

.row-one {
  order:1;
  height:400px;
  width:100%;
  /*border:1px solid black;*/
  display:flex;
}

.row-two {
  order:2;
  height:130px;
  width:100%;
  /*border:1px solid black;*/
  display:flex;
}

.space-col {
  width:20%;
  height:100%;
  /*border:1px solid black;*/
}

.ship-col {
  width:20%;
  height:100%;
  /*border:1px solid black;*/
}

#rock {
  width:200px;
  height:200px;
  background:url(images/space_invader.png);
  background-repeat:no-repeat;
  background-size:50%;
}

#ship {
  width:80px;
  height:130px;
  background:url(images/fighterspr1.png);
  background-repeat:no-repeat;
  background-size:80%;
  position:absolute;
}

#laser {
  width:20px;
  height:50px;
  background:url(images/laser.png);
  background-repeat:no-repeat;
  background-size:100%;
  position:absolute;
}

#expl {
  width:200px;
  height:200px;
  background:url(images/expl.gif);
  background-repeat:no-repeat;
  background-size:100%;
  position:absolute;
  top:60px;
  right:576px;
}

#laser[data-column='1'] {
  top:420px;
  right:488px;
}

#laser[data-column='2'] {
  top:420px;
  right:608px;
}

#laser[data-column='3'] {
  top:420px;
  right:728px;
}

#laser[data-column='4'] {
  top:420px;
  right:848px;
}

#laser[data-column='5'] {
  top:420px;
  right:968px;
}

#laser[data-column='6'] {
  opacity:0;
}

#ship[data-column='1'] {
  top:435px;
  right:450px;
}

#ship[data-column='2'] {
  top:435px;
  right:570px;
}

#ship[data-column='3'] {
  top:435px;
  right:690px;
}

#ship[data-column='4'] {
  top:435px;
  right:810px;
}

#ship[data-column='5'] {
  top:435px;
  right:930px;
}

#rock[data-column='1'] {
}

#rock[data-column='2'] {
}

#rock[data-column='3'] {
}

#rock[data-column='4'] {
}

#rock[data-column='5'] {
}

#rock[data-column='6'] {
  opacity:0;
}

.stats-box {
  width:600px;
  height:140px;
  margin-top:35px;
}

.start-game {
  width:100px;
  height:100px;
  border-radius:100%;
  border: 1px solid rgba(68, 32, 54, 1);
  margin-top:0px;
  margin-bottom:10px;
  margin-right:10px;
  font-size:22px;
  color:rgb(222,216,90);
  /*Gameboy style button code borrowed from AntonEssenetial on Codepen*/
  background-color:rgb(133, 50, 108);
  box-shadow: inset 1px 2px 4px #A87493,
	-1px -1px 2px #000000,
	3px 6px 7px rgba(125, 136, 134, 0.79);
  /*Gameboy style button code borrowed from AntonEssenetial on Codepen*/
  display:flex;
  align-items:center;
  justify-content:center;
  float:right;
  padding:5px;
}

.timer {
  width:150px;
  height:60px;
  /*border:1px solid black;*/
  font-size:25px;
  color:rgb(18,48,177);
  display:flex;
  align-items:center;
  margin-right:70px;
  margin-top:20px;
  justify-content:center;
  float:right;
}

.instruction {
  width:150px;
  height:120px;
  /*border:1px solid black;*/
  font-size:10px;
  color:rgb(113,230,235);
  margin-right:70px;
  margin-top:0;
  float:right;
  line-height:20px;
}

span {
  font-size:10px;
  font-weight:bold;
}

#press-start {
  position:absolute;
  top:290px;
  right:620px;
  color:#FFF;
}

/*.player {
  width:100%;
  height:60px;
  border:1px solid black;
  margin-bottom:10px;
  font-size:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.turn {
  width:100%;
  height:60px;
  border:1px solid black;
  margin-bottom:10px;
  font-size:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.score {
  width:100%;
  height:60px;
  border:1px solid black;
  margin-bottom:10px;
  font-size:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}*/
